/*******************
WINDOW WRAPPERS
*******************/
#map-canvas {
	/*background: url('../images/dots.png') center center fixed, url('../images/googlemaps.jpg') center center no-repeat fixed #252326;*/
	position: absolute;

    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black !important
}

#search-view-wrapper {
	width: 400px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 700px;
	margin-left: -200px;
}

.search-form {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
}

#object-view-wrapper {
	width: 400px;
	height: 75%;
	position: absolute;
	left: 50%;
	top: 60px;
	margin-left: -200px;
}

.object-view {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

/*
SEARCH
*/
.search-form .basic {
	padding: 5px 5px 5px 5px;
}

.search-form .basic .input {
	width: 200px;
}

/*
OBJECT VIEW
*/
.object-view .general-data .image {
	position:absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
}

.object-view .general-data .image .user-pic {
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.object-view .general-data .name {
	position:absolute;
	left:80px;
	top:15px;
	width: 300px;

	padding: 5px 5px 5px 5px;
	font-family: 'HelveticaNeue-Light', serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	background: #f3f3f3;

	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.object-view .job-list {
	position:absolute;
	top:70px;
	left:85px;

	width: 300px;

	font-weight: 400;
}

.object-view .job-data {
	position: absolute;
	top: 117px;
	clear:left;
}

.object-view .job-data .image {
	float:left;
	width: 80px;
	height: 80px;
	color: #9d9e9e;
}

.object-view .job-data .image .job-pic {
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.object-view .job-data .name{
	float:left;
	width: 300px;

	padding: 5px 5px 5px 5px;
	font-family: 'HelveticaNeue-Light', serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-left: 80px;
	margin-top: -73px;

	background: #f3f3f3;
	border-top-right-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.object-view .job-data .info {
	float:left;
	
	margin-top: 0px;
	width: 300px;
	padding: 5px 5px 5px 5px;
	margin-left: 80px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 12px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


