/*******************
WINDOW WRAPPERS
*******************/


#map-canvas {
	/*background: url('../images/dots.png') center center fixed, url('../images/googlemaps.jpg') center center no-repeat fixed #252326;*/
	position: relative;

	top:682px;
	left:50%;
    height: 301px;
    width: 360px;
    margin-left: -160px;
    background-color: black !important;
    border-radius: 5px;
}

#search-view-wrapper {
	width: 360px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 994px;
	margin-left: -160px;
}

.search-form {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
}

#object-view-wrapper {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -160px;
}

.object-view {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

/*
SEARCH
*/
.search-form {
	z-index:5;
}
.search-form .basic {
	padding: 10px 30px 10px 30px;
}

.search-form .basic .search-button {
	padding: 15px 15px 15px 15px;
	margin-left: 7px;
}

.search-form .basic .input {
	padding: 15px 15px 15px 15px;
	width: 215px;
}

.search-form .basic .wide {
	
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	width: 136px;
	height: 30px;
	margin-bottom: 5px;
}


.calendar-item{
	margin-left: 10px;	
	margin-bottom:5px;
	margin-right:10px;
}
.calendar-item .title{
	font-family: 'HelveticaNeue-Light', serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #414848;
	padding-top: 10px;
	border-bottom: 1px solid #fff;
}
.calendar-item .short-description{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

}

.results {
	width: 230px;
	position:relative;
	top: -5px;
	left:21px;
	margin-bottom:50px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);		
}

.result{
	margin-left: 10px;	
	margin-bottom:5px;
	margin-right:10px;
}
.result .title{
	font-family: 'HelveticaNeue-Light', serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #414848;
	padding-top: 10px;
	border-bottom: 1px solid #fff;
}
.result .short-description{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

}

/*
OBJECT VIEW
*/
.event-view{
	position:absolute;
	top:0px;
	left:0px;	
}
.event-view .general-data {
	position:relative;
	height: 46px;
	margin-bottom: 10px;
}
	.event-view .general-data .edit-button {
		position:absolute;
		left: -130px;
		top: -15px;
		z-index: 3;
	}
	.event-view .general-data .image {
		position:absolute;
		left: -90px;
		top: -15px;
		width: 80px;
		height: 80px;
	}
	.event-view .general-data .image .user-pic {
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	.event-view .general-data .name {
		position:absolute;
		width: 300px;

		padding: 5px 30px 5px 30px;
		font-family: 'HelveticaNeue-Light', serif;
		font-weight: 300;
		font-size: 28px;
		line-height: 34px;
		color: #414848;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

		border-radius: 5px;

		background: #f3f3f3;

		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	.event-view .general-data .info {
		position:absolute;
		top: 55px;
		width: 300px;
		padding: 10px 30px 20px 30px;

		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 400;
		font-size: 12px;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		height:420px;
		overflow-y:scroll;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}

.user-view{
	position:absolute;
	top:0px;
	left:0px;
}
.user-view .general-data {
	position:relative;
	height: 46px;
	margin-bottom:9px;
}
	.user-view .general-data .edit-button {
		position:absolute;
		left: -130px;
		top: -15px;
		z-index: 3;
	}
	.user-view .general-data .image {
		position:absolute;
		left: -90px;
		top: -15px;
		width: 80px;
		height: 80px;
	}

	.user-view .general-data .image .user-pic {
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	.user-view .general-data .name {
		position:absolute;
		width: 300px;

		padding: 5px 30px 5px 30px;
		font-family: 'HelveticaNeue-Light', serif;
		font-weight: 300;
		font-size: 28px;
		line-height: 34px;
		color: #414848;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

		border-radius: 5px;

		background: #f3f3f3;

		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}


.user-view .job-list {
	position:relative;
	height: 40px;
	width: 300px;

	margin-bottom: 8px;
}
	.user-view .job-list .job-icon  {
		width: 30px;
		height: 28px;
		z-index: 3;
		border-radius: 5px;
		margin-right: 3px;
	}


.user-view .job-data {
	position: absolute;
	top:105px;
}
	.user-view .job-data .image {
		position: absolute;
		top:-15px;
		left:-90px;
		width: 80px;
		height: 80px;
		color: #9d9e9e;
	}
	.user-view .job-data .edit-button {
		position:absolute;
		left: -130px;
		top: -15px;
		z-index: 3;
	}
	.user-view .job-data .action-button-1 {
		position:absolute;
		left: -130px;
		top: 23px;
		z-index: 3;
	}
	.user-view .job-data .image .job-pic {
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	.user-view .job-data .info {
		width: 300px;
		padding: 10px 30px 20px 30px;

		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 400;
		font-size: 12px;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	.user-view .job-data .info .name {
		font-family: 'HelveticaNeue-Light', serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 34px;
		color: #414848;
	}
	.user-view .job-data .info .description {
		overflow-y:scroll;
	}
	.user-view .job-data .info .player {
		height:150px;
		width:100%;
	}

	.user-view .artist-profile .info .description {
		height:235px;
	}
	.user-view .booker-profile .info .description{
		height:400px;
	}
	.user-view .calendar .info .description{
		height:400px;
	}
	


